
/*======== GENERAL ========*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{

    line-height: 1.6;
    overflow-x: hidden;
    &::-webkit-scrollbar{
        width: 0.4rem;
        background-color: $gris; 
    }
    &::-webkit-scrollbar-thumb{
        background: $cian;
        border-radius: 5px;
    }
}


ul{
    list-style: none;
}

a{
    text-decoration: none !important;
    color: $blanco !important;
}

